body {
  /* background: lightgray; */
  height: 100vh;
}
/* slider1 */
.slider-products {
  width: 100%;
  min-height: 50%;
  position: relative;
}
.slider-products-content {
  padding: 30px 20%;
}
.slick-slide {
  width: 100%;
  position: relative;
  min-height: 75vh;
  height: auto;
}
.slick-slide img {
  /* width: 30%; */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  height: 100%;
}
.slick-slide article {
  width: 80%;
  position: absolute;
  height: 80%;
  right: 5%;
  top: 0;
  background: #fff;
  color: #000;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.slick-next::before {
  content: url("./img/arr.png");
  transform: rotate(180deg);
  display: block;
  width: 70px;
  right: 0;
}

.slick-prev::before {
  content: url("./img/arr.png");
  left: 0;
}

@media all and (max-width: 1200px) {
  .slick-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .slider-products {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slick-slide img {
    flex: 1;
    width: 40%;
    position: relative;
  }

  .slick-slide article {
    width: 70%;
    min-height: 300px;
    position: static;
    margin-top: 50px;
  }
}
.slider-number {
  background: #f6cb6c;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
  /* margin: 15px auto; */
  /* position: absolute;
  top: -21%;
  left: 50%; */
  /* transform: translateX(-50%); */
  z-index: 10000;
  padding: 10px;
  margin-bottom: 0;
}
.slider-circle {
  position: absolute;
  top: -21%;
  left: 50%;
  width: 120px;
  height: 120px;
  border: 1px solid #f6cb6c;
  border-radius: 50%;
  transform: translateX(-50%);
}
.slider-circle::before {
  width: 100%;
  height: 50%;
  display: block;
  content: "";
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}
